.table-grid{
    display:table;
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
}
.table-grid > div,
.table-grid > section,
.table-grid > article{
    display:table-row;
    background-color:#4af;
    border:1px solid white;
}
@media (min-width:600px){
    
    .table-grid > div,
    .table-grid > section{
        display:table-cell;
    }

}
